<div class="main main-raised">
    <div class="container p-5">
        <div class="row">
            <!-- <div class="tim-title">
                <h3>Inscription</h3>
        </div>

        -->




            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                            <!--
                                  color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                              -->
                            <li class="nav-item">
                                <a class="nav-link active show" href="#dashboard-2" role="tab" data-toggle="tab" aria-selected="true">
                                    <i class="material-icons">dashboard</i> signin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#schedule-2" role="tab" data-toggle="tab" aria-selected="false">
                                    <i class="material-icons">schedule</i> signup
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="dashboard-2">


                                <app-signin></app-signin>
                            </div>
                            <div class="tab-pane" id="schedule-2">

                                <app-user-inscription></app-user-inscription>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>