<div class="container p-5">


    <div class="tim-title">
        <h3>Inscription</h3>
    </div>

    <form [formGroup]="userForm">

        <div class="row m-5">
            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="nom">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="fonction">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="adresse">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="telephone">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="email">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="pseudo">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="mdp">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="permission">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="dateInscrit">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="dateArrive">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="parrain">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group bmd-form-group">
                    <label for="exampleInput1" class="bmd-label-floating">With Floating Label</label>
                    <input type="email" class="form-control" id="exampleInput1" formControlName="interlocuteur">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>
        </div>



        <div class="col-md-8 ml-auto mr-auto text-center">
            <button type="button" class="btn  btn-rose   btn-round">Subscribe</button>
        </div>



    </form>
</div>