<div class="main main-raised">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">

                    <ul class="nav nav-pills nav-pills-primary">
                        <li class="nav-item">
                            <a class="nav-link active" (click)="selectTag = ''" data-toggle="tab">All</a>
                        </li>
                        <li class="nav-item" *ngFor="let tag of tags  ">
                            <a class="nav-link" (click)="selectTag = tag" data-toggle="tab">{{tag}}</a>
                        </li>

                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="pill1"></div>
                        <div class="tab-pane" id="pill2"></div>
                        <div class="tab-pane" id="pill3"></div>
                        <div class="tab-pane" id="pill4"></div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="eventList  as events">
                <div class="col-md-6" *ngFor="let event of events | filter :selectTag">
                    <app-event-card [event]="event"></app-event-card>
                </div>

            </div>
        </div>

    </div>
</div>