<div class="main main-raised">
    <div class="container" *ngIf="event$ |async as event">

        <div class="section section-text">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title">{{event.title}}.</h3>


                </div>
                <div class="section col-md-10 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-raised rounded img-fluid" alt="Raised Image" [src]="event.url">
                        </div>

                    </div>
                </div>
                <div class="col-md-8 ml-auto mr-auto">
                    <!-- <h3 class="title">Rest of the Story:</h3> -->
                    <p>
                        {{event.description}}
                    </p>
                </div>

            </div>
            <div class="col-md-8 ml-auto mr-auto text-center">
                <button [routerLink]="['/default/users']" type="button" class="btn  btn-rose   btn-round">Subscribe</button>
            </div>
        </div>
        <!-- <div class="section section-blog-info">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-tags">
                                Tags:
                                <span class="badge badge-primary badge-pill">{{event.tag}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="#pablo" class="btn btn-google btn-round float-right">
                                <i class="fa fa-google"></i> 232
                            </a>
                            <a href="#pablo" class="btn btn-twitter btn-round float-right">
                                <i class="fa fa-twitter"></i> 910
                            </a>
                            <a href="#pablo" class="btn btn-facebook btn-round float-right">
                                <i class="fa fa-facebook-square"></i> 872
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->

    </div>
</div>