<div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                <form class="form" [formGroup]="loginForm">
                    <div class="card card-login card-hidden">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Login</h4>
                            <div class="social-line">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <p class="card-description text-center text-danger" *ngIf="messageError">{{messageError}}</p>
                            <span class="bmd-form-group">
        
                    </span>
                            <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Login..." formControlName="login">

                    </div>
                    <app-message-error [status]="!loginForm.get('login').pristine  && loginForm.get('login').errors?.required" message="login is required"></app-message-error>
                    </span>
                    <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
            </div>
            <input type="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,64}$" placeholder="Password..." formControlName="password">

        </div>
        <app-message-error [status]="!loginForm.get('password').pristine  && loginForm.get('password').errors?.required" message="Password is required"></app-message-error>
        <app-message-error [status]="!loginForm.get('password').pristine  && loginForm.get('password').errors?.pattern" message="Password is invalid"></app-message-error>
        </span>
    </div>
    <div class="card-footer justify-content-center">
        <a [routerLink]="['/auth/signup']">Signup</a>
        <a [ngClass]="{'isDisabled': loginForm.invalid }" (click)="submitForm()" class="btn btn-rose btn-link btn-lg">Lets Go</a>
    </div>
</div>
</form>
</div>
</div>
</div>



<app-footer></app-footer>


</div>