<nav class="navbar navbar-color-on-scroll    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit-pro/index.html">
        Formation Angular </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/default']" class=" nav-link">
                        <i class="material-icons">home</i> Acceuil
                    </a>

                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Events
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a [routerLink]="['event']" class="dropdown-item">
                            <i class="material-icons">content_paste</i> event List
                        </a>

                    </div>
                </li>
                <li class="nav-item">
                    <a (click)="logout()" class=" nav-link">
                        <i class="material-icons">lock</i> Logout
                    </a>

                </li>
                <!-- <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">user</i> USER
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a (click)="logout()" class="dropdown-item">
                            <i class="material-icons">lock</i> Logout
                        </a>
                    </div>
                </li> -->

            </ul>
        </div>
    </div>
</nav>