/* You can add global styles to this file, and also import other style files */

.login-page .page-header {
    display: block!important;
}

.signup-page .page-header {
    display: block!important;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}